body {
    margin: 0;
}

.piu-app {
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    height: 100vh;
    background-color: #F2F6ED;
}

.nav {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
}

.nav-title {
    font-size: 3rem;
}

.nav-title:hover {
    cursor: default;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    padding-top: 5vh;
}

.game-prompt-container {
    border-radius: 10px;
    border: 12px dashed black;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-prompt-container:hover {
    cursor: pointer;
    filter: hue-rotate(30deg);
    border: 14px dashed;
}

.game-prompt {
    font-size: 2rem;
    padding: 2rem;
}

.action-canvas {
    border: 1px solid black;
}